body {
  background-color: rgb(255, 0, 255, 0.1);
  color: #7b3f00;
  margin: 0;
  padding: 0;
}
img {
  max-width: 15rem;
  max-height: 20rem;
  min-width: 15rem;
  min-height: 20rem;
  border-radius: 1rem;
  border: 0.3rem solid white;
}

img:hover {
  border: 0.3rem solid #f5761a;
}
nav {
  background-color: rgb(255, 0, 255, 0.2);
  /* padding: 2rem; */
}
p {
  text-align: center;
  text-overflow: ellipsis;
  width: 13rem;
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
.cupcakes {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(100, 0, 255, 0.1);
  border-radius: 2rem;
  padding: 3rem 0rem 3rem 3rem;
  margin: 0 15% 0 15%;
}

.cupcake {
  padding: 0rem 2rem 1rem 2rem;
}

.cupcake-title {
  text-align: center;
}
.flavor {
  background-color: white;
  border-radius: 0.5rem;
}
.rating {
  font-size: 1.2rem;
  font-weight: bold;
  float: right;
}
